In [8]:
'''
Goal: Develop an algorithm that can estimate the purpose of a satellite from only a limited amount of information.
'''

'''
Data exploration
- Union of Concerned Scientists Satellite Database downloaded Apr 2024 (https://www.ucsusa.org/resources/satellite-database)
'''

# Import the dataset

import pandas as pd
import numpy as np

data = pd.read_csv(r'..\data\UCS-Satellite-Database-5-1-2023.csv')
display(data)

,"Name of Satellite, Alternate Names",Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,...,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67
0,1HOPSAT-TD (1st-generation High Optical Perfor...,1HOPSAT-TD,NR,USA,Hera Systems,Commercial,Earth Observation,Infrared Imaging,LEO,Non-Polar Inclined,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAC AIS-Sat1 (Kelpie 1),AAC AIS-Sat1Â (Kelpie 1),United Kingdom,United Kingdom,AAC Clyde Space,Commercial,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Aalto-1,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AAt-4,AAt-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"ABS-2 (Koreasat-8, ST-3)",ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,Ziyuan 1-02C,Ziyuan 1-02C,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7556,Ziyuan 1-2D,Ziyuan 1-2D,NR,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Hyperspectral Imaging,LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7557,Ziyuan 3 (ZY-3),Ziyuan 3,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7558,Ziyuan 3-2,Ziyuan 3-2,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7559,Ziyuan 3-3,Ziyuan 3-3,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Clean the dataset

## Remove all columns that have 'unnamed' in their title
string_to_remove = 'Unnamed'

def remove_unnamed_cols(df, string_to_remove):
    """
    This function removes columns containing a specific string from a pandas DataFrame.

    Args:
        df: The pandas DataFrame to modify.
        string_to_remove: The string to look for in column names.

    Returns:
        A new pandas DataFrame with columns containing the specified string removed.
    """
    return df[[col for col in df.columns if string_to_remove not in col]]

data_cols_removed = remove_unnamed_cols(data.copy(), string_to_remove)
display(data_cols_removed)

,"Name of Satellite, Alternate Names",Current Official Name of Satellite,Country/Org of UN Registry,Country of Operator/Owner,Operator/Owner,Users,Purpose,Detailed Purpose,Class of Orbit,Type of Orbit,...,NORAD Number,Comments,Source Used for Orbital Data,Source,Source.1,Source.2,Source.3,Source.4,Source.5,Source.6
0,1HOPSAT-TD (1st-generation High Optical Perfor...,1HOPSAT-TD,NR,USA,Hera Systems,Commercial,Earth Observation,Infrared Imaging,LEO,Non-Polar Inclined,...,44859,Pathfinder for planned earth observation const...,JMSatcat/3_20,https://spaceflightnow.com/2019/12/11/indias-5...,https://www.herasys.com/,NaN,NaN,NaN,NaN,NaN
1,AAC AIS-Sat1 (Kelpie 1),AAC AIS-Sat1Â (Kelpie 1),United Kingdom,United Kingdom,AAC Clyde Space,Commercial,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,55107,Provide AIS information to Orbcomm.,JMSatcat/9_23,https://www.aac-clyde.space/articles/aac-clyde...,NaN,NaN,NaN,NaN,NaN,NaN
2,Aalto-1,Aalto-1,Finland,Finland,Aalto University,Civil,Technology Development,NaN,LEO,Sun-Synchronous,...,42775,Technology development and education.,JMSatcat/10_17,https://directory.eoportal.org/web/eoportal/sa...,NaN,http://www.planet4589.org/space/log/satcat.txt,NaN,NaN,NaN,NaN
3,AAt-4,AAt-4,Denmark,Denmark,University of Aalborg,Civil,Earth Observation,Automatic Identification System (AIS),LEO,Sun-Synchronous,...,41460,Carries AIS system.,Space50,http://spaceflightnow.com/2016/04/26/soyuz-bla...,NaN,http://space50.org/objekt.php?mot=2016-025E&ja...,NaN,NaN,NaN,NaN
4,"ABS-2 (Koreasat-8, ST-3)",ABS-2,NR,Multinational,Asia Broadcast Satellite Ltd.,Commercial,Communications,NaN,GEO,NaN,...,39508,"32 C-band, 51 Ku-band, and 6 Ka-band transpond...",ZARYA,http://www.absatellite.net/satellite-fleet/?sa...,NaN,http://www.zarya.info/Diaries/Launches/Launche...,http://www.absatellite.net/2010/10/13/asia-bro...,http://www.spacenews.com/article/satellite-tel...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,Ziyuan 1-02C,Ziyuan 1-02C,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,...,38038,Can acquire high-resolution data through remot...,www.spacedebris.net 12/12,http://www.spaceflightnow.com/news/n1201/09lon...,NaN,https://spacenews.com/china-launches-five-comm...,NaN,NaN,NaN,NaN
7556,Ziyuan 1-2D,Ziyuan 1-2D,NR,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Hyperspectral Imaging,LEO,Sun-Synchronous,...,44528,Hyperspectral imaging,Space50,http://spaceflightnow.com/2016/05/31/long-marc...,NaN,https://www.planet4589.org/space/log/satcat.txt,http://space50.org/objekt.php?mot=2016-033A&ja...,NaN,NaN,NaN
7557,Ziyuan 3 (ZY-3),Ziyuan 3,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,...,38046,Land survey satellite.,ZARYA,https://spaceflightnow.com/2020/07/25/china-la...,NaN,http://www.lib.cas.cz/space.40/2011/079A.HTM,NaN,NaN,NaN,NaN
7558,Ziyuan 3-2,Ziyuan 3-2,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,...,41556,Thought to be for intelligence gathering.,JMSatcat/1_22,https://spaceflightnow.com/2021/11/15/japanese...,NaN,https://www.planet4589.org/space/log/satcat.txt,NaN,NaN,NaN,NaN
7559,Ziyuan 3-3,Ziyuan 3-3,China,China,China Centre for Resources Satellite Data and ...,Government,Earth Observation,Optical Imaging,LEO,Sun-Synchronous,...,45939,Land survey satellite. Provide data for the co...,NaN,NaN,NaN,http://www.nasaspaceflight.com/2012/01/china-o...,NaN,NaN,NaN,NaN

In [12]:
'''
Selecting features (columns)
- Country of Operator/Owner
- Operator/Owner
- Users
- Class of Orbit
- Type of Orbit
- Contractor
'''

# Remove all other columns except for "Purpose" which will be the target (label)
columns_to_keep = ['Country of Operator/Owner', 'Operator/Owner', 'Users', 'Class of Orbit', 'Type of Orbit', 'Contractor', 'Purpose']

data_features_kept = data_cols_removed[columns_to_keep]
display(data_features_kept)

,Country of Operator/Owner,Operator/Owner,Users,Class of Orbit,Type of Orbit,Contractor,Purpose
0,USA,Hera Systems,Commercial,LEO,Non-Polar Inclined,Hera Systems,Earth Observation
1,United Kingdom,AAC Clyde Space,Commercial,LEO,Sun-Synchronous,AAC Clyde Space,Earth Observation
2,Finland,Aalto University,Civil,LEO,Sun-Synchronous,Aalto University,Technology Development
3,Denmark,University of Aalborg,Civil,LEO,Sun-Synchronous,University of Aalborg,Earth Observation
4,Multinational,Asia Broadcast Satellite Ltd.,Commercial,GEO,NaN,Space Systems/Loral,Communications
...,...,...,...,...,...,...,...
7555,China,China Centre for Resources Satellite Data and ...,Government,LEO,Sun-Synchronous,China Academy of Space Technology (CAST),Earth Observation
7556,China,China Centre for Resources Satellite Data and ...,Government,LEO,Sun-Synchronous,China Academy of Space Technology (CAST),Earth Observation
7557,China,China Centre for Resources Satellite Data and ...,Government,LEO,Sun-Synchronous,China Academy of Space Technology (CAST),Earth Observation
7558,China,China Centre for Resources Satellite Data and ...,Government,LEO,Sun-Synchronous,China Academy of Space Technology (CAST),Earth Observation
7559,China,China Centre for Resources Satellite Data and ...,Government,LEO,Sun-Synchronous,China Academy of Space Technology (CAST),Earth Observation

In [15]:
'''
Remove rows with any NaN values
'''

counter = 0
for column in data_features_kept.columns:
    for index, value in data_features_kept[column].items():
        if pd.isnull(value):
            counter += 1
            print(f"Null value found at row {index} in column {column}")

print(counter)

# Drop rows with any cell of value NaN
data_clean = data_features_kept.dropna()
display(data_clean)

Null value found at row 4 in column Type of Orbit
Null value found at row 5 in column Type of Orbit
Null value found at row 6 in column Type of Orbit
Null value found at row 7 in column Type of Orbit
Null value found at row 8 in column Type of Orbit
Null value found at row 13 in column Type of Orbit
Null value found at row 14 in column Type of Orbit
Null value found at row 15 in column Type of Orbit
Null value found at row 16 in column Type of Orbit
Null value found at row 17 in column Type of Orbit
Null value found at row 18 in column Type of Orbit
Null value found at row 19 in column Type of Orbit
Null value found at row 20 in column Type of Orbit
Null value found at row 21 in column Type of Orbit
Null value found at row 22 in column Type of Orbit
Null value found at row 23 in column Type of Orbit
Null value found at row 24 in column Type of Orbit
Null value found at row 26 in column Type of Orbit
Null value found at row 40 in column Type of Orbit
Null value found at row 48 in column Type of Orbit
Null value found at row 50 in column Type of Orbit
Null value found at row 58 in column Type of Orbit
Null value found at row 59 in column Type of Orbit
Null value found at row 60 in column Type of Orbit
Null value found at row 61 in column Type of Orbit
Null value found at row 62 in column Type of Orbit
Null value found at row 64 in column Type of Orbit
Null value found at row 65 in column Type of Orbit
Null value found at row 66 in column Type of Orbit
Null value found at row 67 in column Type of Orbit
Null value found at row 68 in column Type of Orbit
Null value found at row 70 in column Type of Orbit
Null value found at row 71 in column Type of Orbit
Null value found at row 72 in column Type of Orbit
Null value found at row 74 in column Type of Orbit
Null value found at row 77 in column Type of Orbit
Null value found at row 78 in column Type of Orbit
Null value found at row 79 in column Type of Orbit
Null value found at row 80 in column Type of Orbit
Null value found at row 81 in column Type of Orbit
Null value found at row 82 in column Type of Orbit
Null value found at row 92 in column Type of Orbit
Null value found at row 93 in column Type of Orbit
Null value found at row 94 in column Type of Orbit
Null value found at row 95 in column Type of Orbit
Null value found at row 96 in column Type of Orbit
Null value found at row 97 in column Type of Orbit
Null value found at row 98 in column Type of Orbit
Null value found at row 104 in column Type of Orbit
Null value found at row 106 in column Type of Orbit
Null value found at row 107 in column Type of Orbit
Null value found at row 110 in column Type of Orbit
Null value found at row 111 in column Type of Orbit
Null value found at row 112 in column Type of Orbit
Null value found at row 113 in column Type of Orbit
Null value found at row 114 in column Type of Orbit
Null value found at row 115 in column Type of Orbit
Null value found at row 119 in column Type of Orbit
Null value found at row 120 in column Type of Orbit
Null value found at row 121 in column Type of Orbit
Null value found at row 122 in column Type of Orbit
Null value found at row 123 in column Type of Orbit
Null value found at row 124 in column Type of Orbit
Null value found at row 125 in column Type of Orbit
Null value found at row 126 in column Type of Orbit
Null value found at row 127 in column Type of Orbit
Null value found at row 128 in column Type of Orbit
Null value found at row 129 in column Type of Orbit
Null value found at row 130 in column Type of Orbit
Null value found at row 131 in column Type of Orbit
Null value found at row 132 in column Type of Orbit
Null value found at row 145 in column Type of Orbit
Null value found at row 147 in column Type of Orbit
Null value found at row 149 in column Type of Orbit
Null value found at row 150 in column Type of Orbit
Null value found at row 151 in column Type of Orbit
Null value found at row 152 in column Type of Orbit
Null value found at row 153 in column Type of Orbit
Null value found at row 154 in column Type of Orbit
Null value found at row 155 in column Type of Orbit
Null value found at row 156 in column Type of Orbit
Null value found at row 174 in column Type of Orbit
Null value found at row 175 in column Type of Orbit
Null value found at row 176 in column Type of Orbit
Null value found at row 177 in column Type of Orbit
Null value found at row 178 in column Type of Orbit
Null value found at row 181 in column Type of Orbit
Null value found at row 182 in column Type of Orbit
Null value found at row 183 in column Type of Orbit
Null value found at row 184 in column Type of Orbit
Null value found at row 185 in column Type of Orbit
Null value found at row 186 in column Type of Orbit
Null value found at row 187 in column Type of Orbit
Null value found at row 188 in column Type of Orbit
Null value found at row 189 in column Type of Orbit
Null value found at row 190 in column Type of Orbit
Null value found at row 191 in column Type of Orbit
Null value found at row 192 in column Type of Orbit
Null value found at row 193 in column Type of Orbit
Null value found at row 194 in column Type of Orbit
Null value found at row 195 in column Type of Orbit
Null value found at row 196 in column Type of Orbit
Null value found at row 197 in column Type of Orbit
Null value found at row 198 in column Type of Orbit
Null value found at row 199 in column Type of Orbit
Null value found at row 200 in column Type of Orbit
Null value found at row 201 in column Type of Orbit
Null value found at row 202 in column Type of Orbit
Null value found at row 203 in column Type of Orbit
Null value found at row 204 in column Type of Orbit
Null value found at row 205 in column Type of Orbit
Null value found at row 206 in column Type of Orbit
Null value found at row 207 in column Type of Orbit
Null value found at row 208 in column Type of Orbit
Null value found at row 209 in column Type of Orbit
Null value found at row 210 in column Type of Orbit
Null value found at row 211 in column Type of Orbit
Null value found at row 212 in column Type of Orbit
Null value found at row 213 in column Type of Orbit
Null value found at row 214 in column Type of Orbit
Null value found at row 215 in column Type of Orbit
Null value found at row 216 in column Type of Orbit
Null value found at row 217 in column Type of Orbit
Null value found at row 218 in column Type of Orbit
Null value found at row 219 in column Type of Orbit
Null value found at row 223 in column Type of Orbit
Null value found at row 245 in column Type of Orbit
Null value found at row 246 in column Type of Orbit
Null value found at row 247 in column Type of Orbit
Null value found at row 248 in column Type of Orbit
Null value found at row 251 in column Type of Orbit
Null value found at row 254 in column Type of Orbit
Null value found at row 266 in column Type of Orbit
Null value found at row 267 in column Type of Orbit
Null value found at row 268 in column Type of Orbit
Null value found at row 269 in column Type of Orbit
Null value found at row 270 in column Type of Orbit
Null value found at row 271 in column Type of Orbit
Null value found at row 275 in column Type of Orbit
Null value found at row 299 in column Type of Orbit
Null value found at row 300 in column Type of Orbit
Null value found at row 350 in column Type of Orbit
Null value found at row 354 in column Type of Orbit
Null value found at row 356 in column Type of Orbit
Null value found at row 357 in column Type of Orbit
Null value found at row 358 in column Type of Orbit
Null value found at row 360 in column Type of Orbit
Null value found at row 361 in column Type of Orbit
Null value found at row 362 in column Type of Orbit
Null value found at row 434 in column Type of Orbit
Null value found at row 435 in column Type of Orbit
Null value found at row 436 in column Type of Orbit
Null value found at row 437 in column Type of Orbit
Null value found at row 438 in column Type of Orbit
Null value found at row 439 in column Type of Orbit
Null value found at row 440 in column Type of Orbit
Null value found at row 441 in column Type of Orbit
Null value found at row 658 in column Type of Orbit
Null value found at row 659 in column Type of Orbit
Null value found at row 660 in column Type of Orbit
Null value found at row 661 in column Type of Orbit
Null value found at row 662 in column Type of Orbit
Null value found at row 663 in column Type of Orbit
Null value found at row 664 in column Type of Orbit
Null value found at row 665 in column Type of Orbit
Null value found at row 666 in column Type of Orbit
Null value found at row 667 in column Type of Orbit
Null value found at row 673 in column Type of Orbit
Null value found at row 675 in column Type of Orbit
Null value found at row 676 in column Type of Orbit
Null value found at row 677 in column Type of Orbit
Null value found at row 678 in column Type of Orbit
Null value found at row 679 in column Type of Orbit
Null value found at row 680 in column Type of Orbit
Null value found at row 681 in column Type of Orbit
Null value found at row 682 in column Type of Orbit
Null value found at row 683 in column Type of Orbit
Null value found at row 684 in column Type of Orbit
Null value found at row 685 in column Type of Orbit
Null value found at row 686 in column Type of Orbit
Null value found at row 687 in column Type of Orbit
Null value found at row 689 in column Type of Orbit
Null value found at row 697 in column Type of Orbit
Null value found at row 698 in column Type of Orbit
Null value found at row 699 in column Type of Orbit
Null value found at row 700 in column Type of Orbit
Null value found at row 718 in column Type of Orbit
Null value found at row 720 in column Type of Orbit
Null value found at row 721 in column Type of Orbit
Null value found at row 724 in column Type of Orbit
Null value found at row 728 in column Type of Orbit
Null value found at row 729 in column Type of Orbit
Null value found at row 730 in column Type of Orbit
Null value found at row 731 in column Type of Orbit
Null value found at row 732 in column Type of Orbit
Null value found at row 733 in column Type of Orbit
Null value found at row 734 in column Type of Orbit
Null value found at row 735 in column Type of Orbit
Null value found at row 736 in column Type of Orbit
Null value found at row 737 in column Type of Orbit
Null value found at row 738 in column Type of Orbit
Null value found at row 739 in column Type of Orbit
Null value found at row 740 in column Type of Orbit
Null value found at row 741 in column Type of Orbit
Null value found at row 742 in column Type of Orbit
Null value found at row 743 in column Type of Orbit
Null value found at row 744 in column Type of Orbit
Null value found at row 745 in column Type of Orbit
Null value found at row 746 in column Type of Orbit
Null value found at row 747 in column Type of Orbit
Null value found at row 748 in column Type of Orbit
Null value found at row 749 in column Type of Orbit
Null value found at row 750 in column Type of Orbit
Null value found at row 751 in column Type of Orbit
Null value found at row 752 in column Type of Orbit
Null value found at row 753 in column Type of Orbit
Null value found at row 754 in column Type of Orbit
Null value found at row 755 in column Type of Orbit
Null value found at row 756 in column Type of Orbit
Null value found at row 757 in column Type of Orbit
Null value found at row 758 in column Type of Orbit
Null value found at row 759 in column Type of Orbit
Null value found at row 760 in column Type of Orbit
Null value found at row 765 in column Type of Orbit
Null value found at row 766 in column Type of Orbit
Null value found at row 767 in column Type of Orbit
Null value found at row 768 in column Type of Orbit
Null value found at row 769 in column Type of Orbit
Null value found at row 770 in column Type of Orbit
Null value found at row 771 in column Type of Orbit
Null value found at row 772 in column Type of Orbit
Null value found at row 773 in column Type of Orbit
Null value found at row 774 in column Type of Orbit
Null value found at row 775 in column Type of Orbit
Null value found at row 776 in column Type of Orbit
Null value found at row 777 in column Type of Orbit
Null value found at row 778 in column Type of Orbit
Null value found at row 786 in column Type of Orbit
Null value found at row 792 in column Type of Orbit
Null value found at row 793 in column Type of Orbit
Null value found at row 794 in column Type of Orbit
Null value found at row 799 in column Type of Orbit
Null value found at row 800 in column Type of Orbit
Null value found at row 808 in column Type of Orbit
Null value found at row 816 in column Type of Orbit
Null value found at row 817 in column Type of Orbit
Null value found at row 818 in column Type of Orbit
Null value found at row 819 in column Type of Orbit
Null value found at row 820 in column Type of Orbit
Null value found at row 821 in column Type of Orbit
Null value found at row 822 in column Type of Orbit
Null value found at row 823 in column Type of Orbit
Null value found at row 824 in column Type of Orbit
Null value found at row 825 in column Type of Orbit
Null value found at row 826 in column Type of Orbit
Null value found at row 827 in column Type of Orbit
Null value found at row 828 in column Type of Orbit
Null value found at row 829 in column Type of Orbit
Null value found at row 830 in column Type of Orbit
Null value found at row 873 in column Type of Orbit
Null value found at row 874 in column Type of Orbit
Null value found at row 880 in column Type of Orbit
Null value found at row 890 in column Type of Orbit
Null value found at row 910 in column Type of Orbit
Null value found at row 911 in column Type of Orbit
Null value found at row 991 in column Type of Orbit
Null value found at row 992 in column Type of Orbit
Null value found at row 993 in column Type of Orbit
Null value found at row 994 in column Type of Orbit
Null value found at row 995 in column Type of Orbit
Null value found at row 996 in column Type of Orbit
Null value found at row 1021 in column Type of Orbit
Null value found at row 1031 in column Type of Orbit
Null value found at row 1032 in column Type of Orbit
Null value found at row 1033 in column Type of Orbit
Null value found at row 1034 in column Type of Orbit
Null value found at row 1035 in column Type of Orbit
Null value found at row 1036 in column Type of Orbit
Null value found at row 1037 in column Type of Orbit
Null value found at row 1038 in column Type of Orbit
Null value found at row 1039 in column Type of Orbit
Null value found at row 1040 in column Type of Orbit
Null value found at row 1041 in column Type of Orbit
Null value found at row 1042 in column Type of Orbit
Null value found at row 1043 in column Type of Orbit
Null value found at row 1044 in column Type of Orbit
Null value found at row 1045 in column Type of Orbit
Null value found at row 1046 in column Type of Orbit
Null value found at row 1047 in column Type of Orbit
Null value found at row 1048 in column Type of Orbit
Null value found at row 1049 in column Type of Orbit
Null value found at row 1050 in column Type of Orbit
Null value found at row 1051 in column Type of Orbit
Null value found at row 1052 in column Type of Orbit
Null value found at row 1095 in column Type of Orbit
Null value found at row 1096 in column Type of Orbit
Null value found at row 1097 in column Type of Orbit
Null value found at row 1099 in column Type of Orbit
Null value found at row 1100 in column Type of Orbit
Null value found at row 1103 in column Type of Orbit
Null value found at row 1104 in column Type of Orbit
Null value found at row 1106 in column Type of Orbit
Null value found at row 1108 in column Type of Orbit
Null value found at row 1109 in column Type of Orbit
Null value found at row 1110 in column Type of Orbit
Null value found at row 1111 in column Type of Orbit
Null value found at row 1124 in column Type of Orbit
Null value found at row 1125 in column Type of Orbit
Null value found at row 1136 in column Type of Orbit
Null value found at row 1137 in column Type of Orbit
Null value found at row 1138 in column Type of Orbit
Null value found at row 1180 in column Type of Orbit
Null value found at row 1181 in column Type of Orbit
Null value found at row 1182 in column Type of Orbit
Null value found at row 1183 in column Type of Orbit
Null value found at row 1184 in column Type of Orbit
Null value found at row 1185 in column Type of Orbit
Null value found at row 1186 in column Type of Orbit
Null value found at row 1187 in column Type of Orbit
Null value found at row 1188 in column Type of Orbit
Null value found at row 1189 in column Type of Orbit
Null value found at row 1190 in column Type of Orbit
Null value found at row 1191 in column Type of Orbit
Null value found at row 1192 in column Type of Orbit
Null value found at row 1198 in column Type of Orbit
Null value found at row 1199 in column Type of Orbit
Null value found at row 1203 in column Type of Orbit
Null value found at row 1204 in column Type of Orbit
Null value found at row 1205 in column Type of Orbit
Null value found at row 1206 in column Type of Orbit
Null value found at row 1207 in column Type of Orbit
Null value found at row 1208 in column Type of Orbit
Null value found at row 1209 in column Type of Orbit
Null value found at row 1210 in column Type of Orbit
Null value found at row 1211 in column Type of Orbit
Null value found at row 1212 in column Type of Orbit
Null value found at row 1213 in column Type of Orbit
Null value found at row 1214 in column Type of Orbit
Null value found at row 1215 in column Type of Orbit
Null value found at row 1216 in column Type of Orbit
Null value found at row 1217 in column Type of Orbit
Null value found at row 1218 in column Type of Orbit
Null value found at row 1219 in column Type of Orbit
Null value found at row 1220 in column Type of Orbit
Null value found at row 1221 in column Type of Orbit
Null value found at row 1222 in column Type of Orbit
Null value found at row 1223 in column Type of Orbit
Null value found at row 1224 in column Type of Orbit
Null value found at row 1225 in column Type of Orbit
Null value found at row 1226 in column Type of Orbit
Null value found at row 1227 in column Type of Orbit
Null value found at row 1228 in column Type of Orbit
Null value found at row 1229 in column Type of Orbit
Null value found at row 1230 in column Type of Orbit
Null value found at row 1231 in column Type of Orbit
Null value found at row 1232 in column Type of Orbit
Null value found at row 1233 in column Type of Orbit
Null value found at row 1234 in column Type of Orbit
Null value found at row 1235 in column Type of Orbit
Null value found at row 1316 in column Type of Orbit
Null value found at row 1317 in column Type of Orbit
Null value found at row 1318 in column Type of Orbit
Null value found at row 1319 in column Type of Orbit
Null value found at row 1320 in column Type of Orbit
Null value found at row 1321 in column Type of Orbit
Null value found at row 1322 in column Type of Orbit
Null value found at row 1323 in column Type of Orbit
Null value found at row 1330 in column Type of Orbit
Null value found at row 1333 in column Type of Orbit
Null value found at row 1334 in column Type of Orbit
Null value found at row 1335 in column Type of Orbit
Null value found at row 1336 in column Type of Orbit
Null value found at row 1337 in column Type of Orbit
Null value found at row 1338 in column Type of Orbit
Null value found at row 1339 in column Type of Orbit
Null value found at row 1340 in column Type of Orbit
Null value found at row 1341 in column Type of Orbit
Null value found at row 1342 in column Type of Orbit
Null value found at row 1422 in column Type of Orbit
Null value found at row 1423 in column Type of Orbit
Null value found at row 1457 in column Type of Orbit
Null value found at row 1469 in column Type of Orbit
Null value found at row 1470 in column Type of Orbit

,Country of Operator/Owner,Operator/Owner,Users,Class of Orbit,Type of Orbit,Contractor,Purpose
0,USA,Hera Systems,Commercial,LEO,Non-Polar Inclined,Hera Systems,Earth Observation
1,United Kingdom,AAC Clyde Space,Commercial,LEO,Sun-Synchronous,AAC Clyde Space,Earth Observation
2,Finland,Aalto University,Civil,LEO,Sun-Synchronous,Aalto University,Technology Development
3,Denmark,University of Aalborg,Civil,LEO,Sun-Synchronous,University of Aalborg,Earth Observation
9,Israel,Asher Space Research Institute at Technion/Isr...,Government,LEO,Sun-Synchronous,Asher Space Research Institute at Technion/Isr...,Technology Development
...,...,...,...,...,...,...,...
7555,China,China Centre for Resources Satellite Data and ...,Government,LEO,Sun-Synchronous,China Academy of Space Technology (CAST),Earth Observation
7556,China,China Centre for Resources Satellite Data and ...,Government,LEO,Sun-Synchronous,China Academy of Space Technology (CAST),Earth Observation
7557,China,China Centre for Resources Satellite Data and ...,Government,LEO,Sun-Synchronous,China Academy of Space Technology (CAST),Earth Observation
7558,China,China Centre for Resources Satellite Data and ...,Government,LEO,Sun-Synchronous,China Academy of Space Technology (CAST),Earth Observation
7559,China,China Centre for Resources Satellite Data and ...,Government,LEO,Sun-Synchronous,China Academy of Space Technology (CAST),Earth Observation

In [34]:
'''
Feature engineering

None of the selected features are numerical - so they must be transformed in some manner.

Features that don't have any particular order are one-hot encoded as this separates them by dimension, not just along a scale. Conversely, features that have some order (such as class of orbit, which mostly depends on altitude) are label encoded.

'''

# First try by label encoding all features for simplicity.

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

columns_to_label_encode = ['Country of Operator/Owner', 'Operator/Owner', 'Users', 'Type of Orbit', 'Contractor', 'Class of Orbit', 'Purpose']

encoded_data_clean = data_clean[columns_to_label_encode].apply(LabelEncoder().fit_transform)

display(encoded_data_clean)

# Split data into features (X) and target variable (y)
X = encoded_data_clean.drop('Purpose', axis=1)
y = encoded_data_clean['Purpose']

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train your machine learning model
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

,Country of Operator/Owner,Operator/Owner,Users,Type of Orbit,Contractor,Class of Orbit,Purpose
0,76,212,4,5,176,1,3
1,88,1,4,8,2,1,3
2,24,10,0,8,10,1,25
3,17,493,0,8,484,1,3
9,38,31,6,8,32,1,25
...,...,...,...,...,...,...,...
7555,10,97,6,8,95,1,3
7556,10,97,6,8,95,1,3
7557,10,97,6,8,95,1,3
7558,10,97,6,8,95,1,3
7559,10,97,6,8,95,1,3

Accuracy: 0.9479015918958031